*{
    padding: 0px;
    margin: 0px;
}
body{
    background-position: contain;
    background-image: url(../images/gf5.jpg);
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    background: transparent;
    width:auto;
    margin-left: 20px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.active{
    color: green;
}
nav{
    display: flex;
}
.logo{
    color: white;
}
ul{
    
    display: flex;
    margin-left: 450px;
}
ul li{
    list-style: none;
    
}
ul li a{
    font-size: 18px;
    margin-left: 30px;
    text-decoration: none;
    color: white;
}
ul li a:hover{
    color: green;
}
.btn1{
    margin-left: auto;
    color: white;
    width: 70px;
    margin-right: 20px;
}
.p{
    color: white;
}
button{
    background: transparent;
    border-radius: 25px;
    color: white;
    width: 70px;
    border-color: green;
    border-width: 1px;
}
.cont h1{
    margin-top: 40px;
    margin-left: 20px;
    text-align: center;
    color: white;
    font-size: 50px;
}
.cont h1 span{
    color: green;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 82px;
    font-style: italic;
}
img{
    width: 150px;
    text-align: center;
    margin-left: 550px;
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: green;

}
p{
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    color: white;
}
.cont p .abt{
    color: green;
    font-weight: bold;
}
.ct{
    font-size: 20px;
    margin-left: 20px;
    display: flex;
    width: 300px;
}