*{
    padding: 0px;
    margin: 0px;
}
body{
    background-position: contain;
    background-image: url(../images/gf2.webp);
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    background: transparent;
    width:auto;
    margin-left: 20px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
nav{
    display: flex;
}
.logo{
    color: white;
}
ul{
    
    display: flex;
    margin-left: 450px;
}
ul li{
    list-style: none;
    
}
ul li a{
    font-size: 18px;
    margin-left: 30px;
    text-decoration: none;
    color: white;
}
ul li a:hover{
    color: green;
}
.btn1{
    margin-left: auto;
    color: white;
    width: 70px;
    margin-right: 20px;
}
.p{
    color: white;
}
button{
    background: transparent;
    border-radius: 25px;
    color: white;
    width: 70px;
    border-color: green;
    border-width: 1px;
}
.form{
    align-items: center;
    border-width: 1px;
    border-color: green;
    border-style: solid;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 600px;
    width: 450px;
    height: 500px;
    backdrop-filter: blur(10px);
}
.form h2{
    color: white;
    margin-top: 40px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: green;
    padding: 10px;
    padding-left: 25px;
    margin-left: 90px;
    margin-right: 110px;
}
.form input{
    width: 350px;
    color: white;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-width: 1px;
    border-color: green;
    margin-left: 20px;
    padding: 10px;
    margin-top: 20px;

}
.form ::placeholder{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.lg{
    padding: 10px;
    width: 100px;
    margin-top: 20px;
    margin-left: 150px;
    background-color: green;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}
.lg:hover{
    background-color: aliceblue;
}
.form p{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    line-height: 30px;
    text-align: center;
}
.form p a{
    text-decoration: none;
    color: green;
    font-weight: bold;
    font-style: italic;
    transition: 0.4s;
}
.form p a:hover{
    color: wheat;
}
